{% extends 'security/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<h2>Página do Usuário</h2>

<div class="user-actions">
    <button onclick="location.href='{% url 'sec-logout' %}'" class="dev_nav-button">Logout</button>
    <button onclick="location.href='{% url 'sec-password_change' %}'" class="dev_nav-button">Trocar senha</button>
    <button onclick="location.href='{% url 'sec-completaDadosUsuario' pk=user.id %}'" class="dev_nav-button">Finish your profile</button>
    <button onclick="location.href='{% url 'sec-addProfilePhoto' pk=user.id %}'" class="dev_nav-button">Add a photo to your profile</button>
</div>

{% endblock %}
